/* עיצוב התפריט */
.navbar {
  background-color: #e91e63; /* Rose color */
  padding: 10px;
  position: relative;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* מבטיח שכל אלמנט יהיה פרוס בצורה אחידה */
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1; /* מאפשר לפרוס את התפריט על כל הרוחב */
  justify-content: space-evenly; /* פריסת הקישורים עם מרווחים שווים */
  align-items: center; /* מוודא שכל הקישורים יהיו במרכז קו הגובה */
}

.navbar-menu li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #c2185b; /* Darker rose color for hover effect */
}

.navbar .logout:hover {
  background-color: #c2185b; /* Darker red color for hover effect */
}

/* תצוגת שם המשתמש */
.username-container {
  display: flex;
  align-items: center;
}

.username-initial {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white; /* צבע רקע לעיגול */
  color: #e91e63; /* צבע ורוד */
  text-align: center;
  line-height: 40px; /* מיישר את הטקסט באמצע */
  font-size: 20px; /* גודל הפונט */
  font-family: Arial, sans-serif;
  margin-left: 15px; /* נותן רווח בין העיגול לבין הקישורים */
}

/* כפתור התפריט למסכים קטנים */
.menu-button {
  display: none; /* מוסתר כברירת מחדל */
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 10000;
  padding: 10px;
  background-color: #e91e63;
  border-radius: 5px;
}

/* תפריט נפתח למסכים קטנים */
.dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e91e63;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1000;
  width: auto;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  text-align: center;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  display: block;
}

@media (max-width: 768px) {
  .menu-button {
    display: block; /* הצג את הכפתור במסכים קטנים */
  }
  
  .navbar-menu {
    display: none; /* הסתר את תפריט הניווט הגדול במסכים קטנים */
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .dropdown-menu.show {
    display: block; /* הצג את התפריט כאשר הוא נפתח */
  }

  /* התאמת שם המשתמש וכפתור התפריט למסכים קטנים */
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .username-container {
    order: 2; /* העבר את שם המשתמש אחרי כפתור התפריט */
  }
}

