<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="add-course-container">
  <h2 class="style-title">הוספת קורס</h2>
  
  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category.code">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
    <div class="lecturer-row">
      <mat-form-field appearance="fill">
        <mat-label>Lecturer Code</mat-label>
        <mat-select formControlName="lecturerCode" (selectionChange)="onLecturerCodeChange($event)">
          <mat-option *ngFor="let code of lecturerCodes" [value]="code">
            {{ code }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Lecturer Name</mat-label>
        <input matInput formControlName="lecturerName" readonly>
      </mat-form-field>
    </div>
  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Number of Lessons</mat-label>
      <input matInput formControlName="numberOfLessons" type="number">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div formArrayName="syllabus">
    <div *ngFor="let control of syllabus.controls; let i = index">
      <mat-form-field appearance="fill">
        <mat-label>Syllabus Item</mat-label>
        <input matInput [formControlName]="i" placeholder="Enter syllabus item">
      </mat-form-field>
      <button mat-raised-button color="warn" type="button" (click)="removeSyllabusField(i)">Remove</button>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="addSyllabusField()">Add Syllabus Item</button>
  </div>
  <br/>

  <div class="learning-mode-row">
    <mat-form-field appearance="fill">
      <mat-label>Learning Mode</mat-label>
      <mat-select formControlName="learningMode">
        <mat-option value="In-Person">In-Person</mat-option>
        <mat-option value="Zoom">Zoom</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">Save Course</button>
  </div>
</form>

