.add-course-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* רווח בין השדות */
  justify-content: space-between; /* רווח בין השדות */
}

.lecturer-row,
.learning-mode-row,
.categoty-row {
  display: flex;
  justify-content: center; /* מרכז את השדות אופקית */
  gap: 16px; /* רווח בין השדות */
  flex-wrap: wrap; /* יאפשר לשדות להתפרס לשורות נוספות אם יש צורך */
  margin-bottom: 16px; /* רווח תחתון בין שורות */
}

.mat-form-field {
  width: 100%; /* השדה יתפוס את כל הרוחב במסכים גדולים */
  margin-bottom: 16px;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-top: 10px;
}

/* עיצוב למסכים קטנים */
@media (max-width: 600px) {
  .form-row, .lecturer-row, .learning-mode-row {
    flex-direction: column; /* כל השדות יהיו אחד מתחת לשני */
    align-items: stretch; /* השדות יתפסו את כל הרוחב הזמין */
  }

  .mat-form-field {
    width: 100%; /* השדות יתפסו 100% מהרוחב */
  }
}

