
<div [ngClass]="{'highlighted-card': isHighlighted}" class="course-card">
  <div class="course-image-container">
    <img [src]="course.imagePath" alt="Course Image" class="course-image" />
  </div>
  <div class="course-details-container">
    <div class="course-category">
      <img [src]="course.category.iconPath" alt="Category Icon" class="category-icon" />
      <span class="category-name">{{ course.category.name }}</span>
    </div>
    <div class="course-details">
      <h2 class="course-name">{{ course.courseName }}</h2>
      <p><strong>Lecturer Name :</strong> {{ lecturerName }}</p>
      <p><strong>Number of Lessons:</strong> {{ course.numberOfLessons }}</p>
      <p><strong>Start Date:</strong> {{ course.startDate | date }}</p>
      <p><strong>Learning Method:</strong> {{ getLearningMethodEnum(course.learningMethod) | learningModeIcon }}</p>
      <p><strong>סילבוס:</strong></p>
      <ul>
        <li *ngFor="let item of course.syllabus">{{ item }}</li>
      </ul>
             <button mat-raised-button *ngIf="isLecturer" (click)="editCourse()">Update Course Details</button>

    </div>
  </div>
</div>

