

<h2 class="style-title"> All-Courses</h2>
  <div class="filter-container">
    <div class="filter-content">
      <mat-form-field appearance="fill">
        <mat-label>Search by name</mat-label>
        <input matInput (input)="onFilterChange('courseName', $event)" placeholder="Search by name" />
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label> Search by learning mode   </mat-label>
        <mat-select (selectionChange)="onFilterChange('learningMode', $event)">
          <mat-option value="">   Search by learning mode</mat-option>
          <mat-option *ngFor="let mode of learningModes" [value]="mode">{{ mode }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Search by category </mat-label>
        <mat-select 
          (selectionChange)="onFilterChange('category', $event)" 
          [disabled]="!isAuthenticated">
          <mat-option value=""> Search by category </mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.code">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
     
    </div>
  </div>
  

  <div *ngFor="let course of filteredCourses" class="course-card">
    <div class="course-image-container">
      <img [src]="course.imagePath" alt="Course Image" class="course-image" loading="lazy">
    </div>
    <div class="course-details-container">
      <h2>{{ course.courseName }}</h2>
      <div class="course-details">
        <p><strong>Learning Method:</strong> {{ getLearningMethodEnum(course.learningMethod) | learningModeIcon }}</p>
        <p><strong>Number of Lessons:</strong> {{ course.numberOfLessons }}</p>
      </div>
        <!-- הצגת קומפוננטת פרטי הקורס אם המשתמש מחובר -->
    <ng-container *ngIf="authService.isAuthenticated()">
      <app-course-details [course]="course"></app-course-details>
    </ng-container>
    </div>
  </div> 
  

   <!-- <div class="course-list">
    <div *ngFor="let course of filteredCourses" class="course-tile">
      <app-course-details [course]="course"></app-course-details>

    </div>
  </div>  -->
 
