.error-message {
  text-align: center;
  margin: 20px;
}

.filter-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap; /* מוודא שהפילטרים יסתדרו בצורה רספונסיבית */
}

.filter-content {
  display: flex;
  flex-wrap: wrap; /* מאפשר לשבור את הפילטרים לשורות נוספות במסכים קטנים */
  gap: 20px;
  justify-content: center; /* מוודא שהפילטרים יהיו במרכז גם במסכים קטנים */
  width: 100%;
}

mat-form-field {
  width: 100%; /* מאפשר לפילטרים לתפוס את כל רוחב המיכל */
  min-width: 200px; /* רוחב מינימלי לפילטרים */
  max-width: 300px; /* מוודא שהפילטרים לא יהיו רחבים מדי */
  flex: 1; /* מאפשר לפילטרים להתפזר באופן שווה */
}
.course-list {
  display: flex;
  flex-direction: column; /* כרטיסים אחד מתחת לשני */
  width: 100%; /* תופס 100% מרוחב המיכל */
  padding: 0; /* מסיר רווחים נוספים */
  box-sizing: border-box; /* מבטיח שאין חריגה מהרוחב */
}

.course-tile {
  width: 100%; /* הכרטיסים יתפסו את כל הרוחב הזמין */
  padding: 16px; /* נותן קצת רווח פנימי */
  box-sizing: border-box; /* מונע חריגה מהרוחב */
}

.course-details-container {
  width: 100%; /* הכרטיס יתפוס את כל רוחב המיכל */
  max-width: 1200px; /* מקסימום רוחב במקרה של מסכים גדולים */
  margin: 0 auto; /* ממרכז את הכרטיסים במסכים רחבים */
  box-sizing: border-box; /* מבטיח שאין גלילה אופקית */

}

.course-card {

  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #444343;
  height: auto; 
}

.course-image-container {
  flex: 0 0 300px; /* הגדלת התמונה על פני שטח גדול יותר של הכרטיס */
  margin-right: 24px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* יכסה את כל השטח המוקצה לתמונה */
  border-radius: 8px;
}

.course-details {
  flex: 1; /* הכרטיס ייקח את השטח הנותר בצורה אחידה */
  margin-top: 16px;

}



h2 {
  font-weight: 500;
  font-size: 40px;

}

.course-details {
  margin-top: 30px;
}



.course-details p {
  margin: 4px 0;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .course-details-container {
    max-width: 100%; /* במסכים בינוניים הכרטיס יתפוס את כל הרוחב */
  }
}

@media (max-width: 600px) {
  .course-details-container {
    max-width: 100%; /* במסכים קטנים הכרטיס גם יתפוס 100% */
  }
  .course-image-container {
    flex: 0 0 200px; /* הגדלת התמונה על פני שטח גדול יותר של הכרטיס */
  

}
h2 {
  font-weight: 500;
  font-size: 30px;

}
.course-details p {
  margin: 2px 0;
  font-size: 15px;
}

}